.banner-hidden {
  animation-name: dismiss;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes dismiss {
  0% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
    font-size: 0.1px;
    transform: scale(0);
  }
}
